.pokemonContenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.pokemonImg{
    width:  8rem;
    height: auto;
}

.botones{
    display: flex;
    gap: 2rem;
    justify-content: center;
}